<div class="card">
  <picture class="card-img-top">
      <source srcset="assets/logo-dark.png" media="(prefers-color-scheme: dark)">
      <img src="assets/logo.png" class="w-100">
  </picture>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <p class="flow-text">
          Mathias Kessler<br>
          MaKeIT SYSTEMS
        </p>
      </div>
      <div class="col-6">
        <p class="flow-text">
          Untere Gärten 6<br>
          72401 Hgl.-Hart<br>
          Deutschland
        </p>
      </div>
    </div>
  </div>
</div>
