---
layout: default
title: Lebenslauf
---
<div class="container">
  <div class="col-12">
    <h2 class="section-title">
      <span>
        <i class="material-icons">person</i>
        Lebenslauf
      </span>
    </h2>
    <p class="flow-text">
    Herzlich willkommen bei meinem Lebenslauf.<br>
    Hier finden Sie alles zu meiner <strong>Arbeitserfahrung</strong>
    und meiner <strong>Ausbildung</strong>.<br>
    Viel Spaß beim erkunden.
    </p>
    <div class="row">
      <div class="col-12 col-md-4">
        <!-- Overview -->
        <h2 class="section-title">
          <span>
            <i class="material-icons">settings</i>
            Hard Skills
          </span>
        </h2>
        <div class="text-center">
          {% for skill in site.data.hardskills %}
          <span class="chip">{{ skill }}</span>
          {% endfor %}
        </div>
        <h2 class="section-title">
          <span>
            <i class="material-icons">face</i>
            Soft Skills
          </span>
        </h2>
        <div class="text-center">
          {% for skill in site.data.softskills %}
          <span class="chip">{{ skill }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-8">
        <!-- timeline -->
        <h2 class="section-title">
          <span>
            <i class="material-icons">school</i>
            Timeline
          </span>
        </h2>
        <ul class="timeline">
          {% for entry in site.data.timeline %}
          <li>
            <div class="timelinetime">
              <span>{{ entry.time }}</span>
            </div>
            <i class="timelineicon material-icons">public</i>
            <div class="timelinelabel shadow">
              <h2>{{ entry.title }}</h2>
              <p>{{ entry.text }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
