<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white">Kontakieren Sie mich!</h2>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    {%- assign current_year = "now" | date: "%Y" -%}
    {%- assign start_year = site.copyright_start_year | append: "" -%}
    <span class="text-white">
      {{- site.contact.domain }} &copy;
      {%- if start_year == current_year %} {{ current_year }}
      {%- else %} {{ start_year }}&ndash;{{ current_year }}
      {%- endif -%}
    </span>
  </div>
</footer>
