<div class="row">
  <div class="col-12">
    <h1>Herzlich Willkommen</h1>
    <p>Hier finden Sie ein paar nützliche Links zu meinen Sozial-Media Kanälen, auf denen ich aktiv bin.</p>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8">
    <h3>Über mich</h3>
    <p>
        Hier wird noch gearbeitet.<br>
        Bitte kommen Sie später wieder für mehr Informationen.
    </p>
  </div>
  <div class="col-12 col-md-4">
      <h3>Discord-Server</h3>
      <iframe 
        src="https://discordapp.com/widget?id=623121575293747221&theme=dark" 
        width="auto" height="450" allowtransparency="true" 
        frameborder="0" allowtransparency="true" frameborder="0">
      </iframe>
      <h3>Twitter-Feed</h3>
      {% twitter https://twitter.com/Drikani95 limit=3 %}
  </div>
</div>