<h2 class="section-title">
  <span>
    <i class="material-icons">person</i>
    Lebenslauf
  </span>
</h2>
<p class="flow-text">
Herzlich willkommen bei meinem Lebenslauf.<br>
Hier finden Sie alles zu meiner <strong>Arbeitserfahrung</strong>
und meiner <strong>Ausbildung</strong>.<br>
Viel Spaß beim erkunden.
</p>
<div class="row">
  <div class="col s12 m4">
    <!-- Overview -->
    <h2 class="section-title">
      <span>
        <i class="material-icons">settings</i>
        Hard Skills
      </span>
    </h2>
    {% include resume/hardskills.html %}
    <h2 class="section-title">
      <span>
        <i class="material-icons">face</i>
        Soft Skills
      </span>
    </h2>
    {% include resume/softskills.html %}
  </div>
  <div class="col s12 m8">
    <!-- timeline -->
    <h2 class="section-title">
      <span>
        <i class="material-icons">school</i>
        Timeline
      </span>
    </h2>
    {% include resume/timeline.html %}
  </div>
</div>
