<div class="center">
    <span class="chip z-depth-1">
        Sophos&nbsp;UTM&nbsp;9.6&nbsp;Architect
    </span>
    <span class="chip z-depth-1">
        Sophos&nbsp;XG&nbsp;v17.5&nbsp;Engineer
    </span>
    <span class="chip z-depth-1">
        Extreme&nbsp;Networks&nbsp;Certified&nbsp;Engineer
    </span>
    <span class="chip z-depth-1">
        Englisch&nbsp;(Verhandlungssicher)
    </span>
    <span class="chip z-depth-1">
        Deutsch&nbsp;(Muttersprache)
    </span>
    <span class="chip z-depth-1">
        Horn
    </span>
    <span class="chip z-depth-1">
        Trompete
    </span>
    <span class="chip z-depth-1">
        Dirigieren
    </span>
    <span class="chip z-depth-1">
        HTML
    </span>
    <span class="chip z-depth-1">
        CSS
    </span>
</div>