<div class="text-center">
    <span class="chip">
        Sophos&nbsp;UTM&nbsp;9.6&nbsp;Architect
    </span>
    <span class="chip">
        Sophos&nbsp;XG&nbsp;v17.5&nbsp;Engineer
    </span>
    <span class="chip">
        Extreme&nbsp;Networks&nbsp;Certified&nbsp;Engineer
    </span>
    <span class="chip">
        Englisch&nbsp;(Verhandlungssicher)
    </span>
    <span class="chip">
        Deutsch&nbsp;(Muttersprache)
    </span>
    <span class="chip">
        Horn
    </span>
    <span class="chip">
        Trompete
    </span>
    <span class="chip">
        Dirigieren
    </span>
    <span class="chip">
        HTML
    </span>
    <span class="chip">
        CSS
    </span>
</div>