<ul class="timeline">
    <li>
        <div class="timelinetime">
        <span>
            2017 - Heute
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Extreme Networks Certified Engineer</h2>
            <p>
                Aktuell bin ich an der absolvierung der Extreme Networks Certified Engineer Prüfung.
                Diese dauert aufgrund ihrer komplexität aber noch an.
            </p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2016
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Sophos UTM Architect</h2>
            <p>
                Im Anschluss an meine Ausbildung bin ich zu 
                der Firma <u><a class="white-text" href="https://www.mowasystems.de" target="_blank" rel="noopener">mowaSYSTEMS GmbH</a></u> gewechselt.
                Dort habe ich dann die 5-Tägige Schulung zum Sophos UTM Architect in Münster besucht und abgeschlossen
            </p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2016
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Ausbildung zum Fachinformatiker</h2>
            <p>
                Nach dem Abitur habe ich meine 3-Jährige Ausbildung 
                zum Fachinformatiker mit der Fachrichtung Systemintegration 
                bei dem Bischöflichen Ordinariat der Diözese Rottenburg Stuttgart abgeschlossen.
            </p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2015
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Musikverein Hart</h2>
            <p>
                In diesem Jahr habe ich die Website des 
                <u><a class="white-text" href="http://www.musikverein-hart.de" target="_blank" rel="noopener">Musikverein Hart</a></u> 
                komplett neu gestaltet und auf den aktuellen Stand gebracht.
            </p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2013
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Allgemeines Abitur</h2>
            <p>Mein Abitur habe ich auf dem Gymnasium in Haigerloch absolviert</p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2010
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Erste Website</h2>
            <p>
                In der 10. Klasse am Gymnasium bin ich das erste Mal mit dem Programmieren in Kontakt gekommen.
                Damals noch mit Robot Carol, Lazarus Pascal und meinen ersten Schritten mit HTML und CSS.
            </p>
        </div>
    </li>
    <li>
        <div class="timelinetime">
        <span>
            2005
        </span>
        </div>
        <i class="timelineicon material-icons">public</i>
        <div class="timelinelabel z-depth-2">
            <h2>Grundschulabschluss</h2>
            <p>Ich habe meine Grundschule, wie so ziemlich jeder auch, im Alter von 10 abgeschlossen.</p>
        </div>
    </li>
</ul>