<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="eupopup">
    <!-- header -->
      {% include header.html %}

    <!-- content -->
      <div class="container-fluid">
        <div class="row">
          {% include nav.html %}
          {{ content }}
        </div>
      </div>

    <!-- footer -->
    {% include footer.html %}
    <!-- Optional JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/salvattore.js"></script>
    <script src="js/cookiepopup.js"></script>
    <script>
      // markiert den angeklickten Tab als aktiv (ersetzt Materializes tabs()-Init)
      $(document).ready(function(){
        $('.navtabs .nav-link').on('click', function () {
          $('.navtabs .nav-link').removeClass('active');
          $(this).addClass('active');
        });
      });
    </script>
  </body>
</html>